* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
}

.grids {
    border-spacing: 0;
    height: 90%;
    width: 100%;
}

.grids tr {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 2.7px;
}

.grids td {
    margin: 0;
    padding: 0;
    width: 2.7px;
    height: 2.7px;
    background-color: gray;
}

.nav {
    position: relative;
    height: 10%;
    width: 100%;
    background-color: #82807c;
}

.nav ul {
    text-align: center;
    width: 70%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.nav ul li {
    width: 15%;
    display: inline-block;
}

.nav ul li button {
    border-radius: 10px;
    position: relative;
    width: 60%;
    display: inline-block;
}