<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/style/style.css}" href="../static/style/style.css">
</head>

<body>
    <div class="gridCont">
        <table id="grids">
          
        </table>
    </div>
    <div class="nav">
        <div class="btns">
            <ul>
                <li><button onclick="moveBack()">Before</button></li>
                <li><button id="play" onclick="play()">Play</button></li>
                <li><button onclick="getNextGen()">Next</button></li>
                <li><button onclick="getGrids()">Reset</button></li>
                <li>Generation: <span id="generation"></span></li>
            </ul>
        </div>
        <div class="selectExample" id="examples">
            <h1>Examples</h1>
        </div>
    </div>


    <script th:src="@{/js/script.js}" src="../static/js/script.js"></script>
</body>

</html>